{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="DEJUC International Group">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li class="nav-item {% if '/a-propos' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}">À Propos</a>
                </li>
                <li class="nav-item {% if '/services' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item {% if '/blog' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item {% if '/contact' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <a href="{% url 'contact' %}" class="btn-dejuc btn-primary">
                    Consultation Gratuite <i class="fas fa-arrow-right ms-2"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
